<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>controller.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionDestroyServlet</servlet-name>
        <servlet-class>controller.SessionDestroyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableTestListServlet</servlet-name>
        <servlet-class>controller.AvailableTestListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTestServlet</servlet-name>
        <servlet-class>controller.DoTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnswerParameters</servlet-name>
        <servlet-class>controller.parameters.AddAnswerParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoryServlet</servlet-name>
        <servlet-class>controller.ListCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTestSession</servlet-name>
        <servlet-class>controller.CreateTestSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionDestroyServlet</servlet-name>
        <url-pattern>/SessionDestroyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableTestListServlet</servlet-name>
        <url-pattern>/AvailableTestListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTestServlet</servlet-name>
        <url-pattern>/DoTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnswerParameters</servlet-name>
        <url-pattern>/AddAnswerParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoryServlet</servlet-name>
        <url-pattern>/ListCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTestSession</servlet-name>
        <url-pattern>/CreateTestSession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
